.App {
    text-align: center;
    margin-top: 35vh;
}

p {
    color: #61dafb;
    font-size: calc(30px + 2vmin);
    font-weight: 700;
}

button {
    border-style: none;
    color: white;
    background-color: #01556d;
    font-size: calc(10px + 2vmin);
    font-weight: 600;
    padding: 1rem 1.5rem;
    margin: 1rem;
    border-radius: 5px;
}

#increase-button {
    background-color: #01556d;
}

#decrease-button {
    background-color: #6d0101;
}

#reset-button {
    background-color: #ffff;
    color: #282c34;
}